/* ************************************************************************************************************************************* */

/* Tablet codes */

@media only screen and (max-width:836px) {

    /*  ********************************************** HOME PAGE  TABLET RESPONSIVE************************************************************* */

    .container {
        width: 80%;
        margin: auto;
    }

    /* HEADER RESPONSIVE CODES START */
    .header-item-list {
        display: none;
    }

    .burger-icon {
        display: flex;
    }

    /* HEADER RESPONSIVE CODES END */

    /* HERO SECTION RESPONSIVE CODES START */
    .hero-second-image {
        width: 330px;
        height: 221px;
    }

    .hero-second-image>img {
        height: 100%;

    }

    .card-info {
        width: 330px;
    }

    .hero-first-section>h1 {
        font-size: 2.125rem;
    }

    .hero-first-section {
        margin-top: 0;
    }

    .hero-first-section>p {
        width: 310px;
    }

    .point div>p {
        font-size: 1.375rem;
    }

    .point div>span {
        font-size: 1rem;
    }

    /* HERO SECTION RESPONSIVE CODES END */

    /* SECTION TRENDING COLLECTION RESPONSVIE CODES START */
    .section-trending-collection>h2 {
        font-size: 1.75rem;
    }

    .section-trending-collection>p {
        font-size: 1rem;
        line-height: 22px;
    }


    .tablet-collection-card {
        display: none;
    }


    .collection-card {
        width: 47%;
    }

    /* SECTION TRENDING COLLECTION RESPONSVIE CODES END */


    /* SECTION TOP CREATORS RESPONSVIE CODES START */
    .section-top-creators>h2 {
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    .section-top-creators div>p {
        font-size: 1rem;
        line-height: 22px;
        width: 343px;
    }

    .section-top-creators-btn {
        align-items: start;
    }

    .section-top-creators-btn>a {
        padding: 15px 50px;
    }

    /* AVATAR CARD */

    .artist-card {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 30px 30px;
    }

    .artist-card-details {
        width: 330px;
        height: 100px;
        display: flex;
    }

    .artist-card-details>div {
        margin-left: 20px;
    }

    .artist-img>img {
        width: 60px;
        height: 60px;
    }

    .number-artists {
        top: 12px;
        left: 12px;
    }

    .avatar-name {
        text-align: start;
    }

    .artist-card-details:nth-child(7) {
        display: none;
    }

    .artist-card-details:nth-child(8) {
        display: none;
    }

    .artist-card-details:nth-child(9) {
        display: none;
    }

    .artist-card-details:nth-child(10) {
        display: none;
    }

    .artist-card-details:nth-child(11) {
        display: none;
    }

    .artist-card-details:nth-child(12) {
        display: none;
    }


    /* SECTION TOP CREATORS RESPONSVIE CODES END */

    /* SECTION BROWSE CATEGORIES RESPONSIVE CODE START */
    .section-browse-categories>h2 {
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    .category-card-details {
        width: 150px;
        height: 142px;
    }

    .category-card-image>img {
        width: 100%;
        height: 100%;
    }

    .category-card-image {
        overflow: hidden;
    }

    .category-icon {
        top: 30%;
        left: 35%;
    }

    .category-icon>a {
        font-size: 3rem;
    }

    .category-name {
        width: 150px;
        height: 66px;
    }

    .category-card {
        gap: 100px 30px;
    }

    .category-name {
        padding: 20px 25px;
    }

    .category-name>p {
        font-size: 1rem;
    }

    /* .category-card-details:nth-child(5) {} */

    /* SECTION BROWSE CATEGORIES RESPONSIVE CODE END */


    /* SECTION DISCOVER MORE NFT RESPONSIVE CODE START */

    .section-discover-more>h2 {
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    .section-discover-more>p {
        font-size: 1rem;
    }

    .section-discover-more {
        margin-top: 40px;
    }

    .nft-card-mobile {
        display: none;
    }

    .section-discover-more-btn {
        margin-bottom: 40px;
    }

    .nft-card {
        padding: 0px 0px 60px 0px;
    }

    .image-placeholder {
        margin-right: 30px;
    }

    /* SECTION DISCOVER MORE NFT RESPONSIVE CODE END */


    /* SECTION  NFT INFO  RESPONSIVE CODE START */
    .section-ntf-info {
        width: 100%;
        height: 630px;
        background-attachment: fixed;
        background-size: cover;
    }

    .section-ntf-text div>h3 {
        font-size: 2.375rem;
    }

    .ntf-info-user {
        width: 23%;
    }

    .ntf-timer {
        justify-content: space-evenly;
    }

    /* SECTION  NFT INFO  RESPONSIVE CODE END */


    /* SECTION  HOW IT WORKS RESPONSIVE CODE START */


    .section-how-it-works>h2 {
        font-size: 1.75rem;
    }

    .section-how-it-works>p {
        font-size: 1rem;
    }

    .section-how-it-works {
        padding: 40px 0px 40px 0px;
    }

    .how-it-works-card-details {
        width: 210px;
        height: 320px;
    }

    .card-image {
        width: 160px;
        height: 160px;
    }

    .card-text>h4 {
        font-size: 1rem;
    }

    .card-text>p {
        font-size: 0.75rem;
        line-height: 140%;
    }

    /* SECTION  HOW IT WORKS RESPONSIVE CODE END */



    /* SECTION  SUBSCRIBE WIDGET RESPONSIVE CODE START */
    .section-widget {
        width: 690px;
        height: 360px;
        padding: 40px 30px;
    }

    .img-widget {
        width: 300px;
        height: 280px;
        margin: 0;
    }

    .widget-text>h3 {
        font-size: 1.75rem;
    }

    .widget-text>p {
        font-size: 1rem;
    }

    .input-box {
        padding: 14px 22px;
        width: 100%;
        height: 46px;

    }

    .input-box>a {
        display: none;
    }

    .mobile-input-box-btn {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 46px;
        background-color: #A259FF;
        border-radius: 20px;
    }

    .mobile-input-box-btn>a {
        display: flex;
        align-items: center;
        font-family: WorkSansRegular;
        color: #fff;
    }

    .mobile-input-box-btn a>i {
        margin-right: 10px;
    }

    .input-for-email {
        position: static;
        width: 100%;
    }

    .input-box {
        position: static;
    }

    /* SECTION  SUBSCRIBE WIDGET RESPONSIVE CODE END */


    /* FOOTER  HOME PAGE RESPONSIVE CODE START */

    .footers-marketplace {
        flex-direction: column;
        margin-bottom: 0;
    }

    .brand {
        margin-bottom: 20px;
    }

    .footer-icons {
        margin-bottom: 30px;
    }

    .footer-list>h4 {
        margin-bottom: 20px;
    }

    .footer-list {
        margin-bottom: 30px;
    }

    .subscribe {
        width: 100%;
    }

    .subscribe>h4 {
        margin-bottom: 20px;
    }

    .footer-input {
        width: 420px;
        margin-bottom: 49px;
    }


    /* FOOTER HOME PAGE TABLET RESPONSIVE END */



    /*  ***************************************** CREATE ACCOUNT  TABLET RESPONSIVE************************************************************* */
    .create-acc-image-placeholder {
        width: 397px;
        height: 615px;
        margin-right: 40px;
    }

    .create-account-item {
        width: 397px;
        height: 615px;
        padding: 80px 0px;
        margin: 0;
    }

    .create-account-item>h1 {
        font-size: 2.375rem;
    }

    .create-account-item>p {
        font-size: 1rem;
        line-height: 28px;
    }

    .form-for-login>a {
        margin-top: 15px;
    }





    /* ****************************************MARKETPLACE PAGGE TABLET RESPONSIVE CODE********************************************** */

    .subhead {
        padding: 0px 0px 60px 0px;
    }

    .subhead>h1 {
        font-size: 2.375rem;
        margin-bottom: 10px;
    }

    .subhead>p {
        font-size: 1rem;
    }
}

/* ************************************************************************************************************************************* */
@media only screen and (max-width:377px) {

    /*  ******************************************* HOME PAGE MOBILE RESPONSIVE************************************************************* */

    /* HEADER MOBILE RESPONSIVE CODES START */

    .header {
        padding: 15px 30px;
    }

    .header-first-item {
        font-size: 1rem;
    }

    /* SECTION HERO MOBILE CODE */
    #hero {
        display: none;
    }

    /* SECTION TRENDING COLLECTION MOBILE RESPONSIVE CODES START */
    .section-trending-collection {
        margin-top: 0;
        padding-top: 40px;
        width: 315px;
    }


    .section-trending-collection>p {
        /* width: 330px; */
        text-transform: none;
    }

    .mobile-collectin-card {
        display: none;
    }

    .collection-card-row {
        justify-content: center;
    }

    .collection-card {
        /* width: 315px;
        height: 315px; */
        width: 300px;
        height: 300px;
    }

    /* SECTION TRENDING COLLECTION MOBILE RESPONSIVE CODES END */


    /* SECTION TOP CREATORS MOBILE RESPONSIVE CODES START */
    #top-creators {
        margin-top: 100px;
    }

    .section-top-creators>h2 {
        margin-top: 50px;
    }

    .section-top-creators div>p {
        font-size: 1rem;
        line-height: 170%;
    }

    .section-top-creators-btn>a {
        display: none;
    }

    .artist-card-details {
        width: 315px;
        height: 100px;
    }

    .artist-card-details:nth-child(6) {
        display: none;
    }

    .artist-card {
        /* margin-right: 35px; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* grid-template-columns: auto; */
    }

    .top-creator-btn {
        width: 315px;
        height: 60px;
        border: 1px solid #A259FF;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .top-creator-btn>a {
        display: flex;
        align-items: center;
        color: #fff;
        font-family: WorkSansRegular;
        font-size: 1rem;
        margin-left: 10px;
    }

    .top-creator-btn a>i {
        color: #A259FF;
        margin-right: 10px;
    }

    /* SECTION TOP CREATORS MOBILE RESPONSIVE CODES END */


    /* SECTION HERO MOBILE RESPONSIVE CODE START */
    .mobile-hero {
        display: flex;
        padding: 40px 0px;

    }

    .mobile-hero div>h2 {
        color: #fff;
        font-family: WorkSansRegular;
        font-weight: 600;
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    .mobile-hero div>p {
        color: #fff;
        font-size: 1rem;
        font-family: WorkSansRegular;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 40px;
    }

    .mobile-hero-details {
        width: 315px;
        height: 206px;
        margin-bottom: 40px;
    }

    .mobile-hero-details>img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        object-fit: cover;
    }

    .mobile-hero-card-info {
        background-color: #3B3B3B;
        height: 109px;
        padding: 20px 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 40px;
    }

    .mobile-hero-card-info>h6 {
        color: #fff;
        font-size: 1.375rem;
        font-family: WorkSansRegular;
        margin-bottom: 20px;

    }

    .mobile-btn-get-started {
        width: 315px;
        background-color: #A259FF;
        margin-top: 60px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 20px;
    }

    .mobile-btn-get-started>a {
        color: #fff;
        font-family: WorkSansRegular;
        font-size: 1rem;
    }

    .mobile-btn-get-started a>i {
        color: #fff;
    }

    .mobile-point div>p {
        font-weight: 700;
    }

    /* SECTION HERO MOBILE RESPONSIVE CODE END */


    /* SECTION BROWSE CATEGORIES MOBILE RESPONSIVE CODES START */

    .section-browse-categories>h2 {
        padding: 40px 0px 40px 0px;
    }

    .category-card {
        grid-template-columns: auto auto;
        justify-content: center;
    }

    /* SECTION BROWSE CATEGORIES MOBILE RESPONSIVE CODES END */


    /* SECTION DISCOVER MORE MOBILE RESPONSIVE CODES START */
    .section-discover-more-btn>a {
        display: none;
    }

    .section-discover-more div>p {
        font-size: 1rem;
    }

    .nft-card {
        flex-direction: column;
        justify-content: center;
    }

    .nft-card-mobile {
        display: inline-block;
    }

    .nft-card-details {
        width: 315px;
        margin-bottom: 20px;
    }

    /* SECTION DISCOVER MORE MOBILE RESPONSIVE CODES END */

    /* SECTION NFT INFO MOBILE RESPONSIVE CODES STAR */

    .section-ntf-info {
        background-position: center;
    }

    .section-ntf-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .how-it-works-card {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
    }

    .ntf-info-user {
        width: 50%;
    }

    .left {
        display: flex;
        flex-direction: column;
       align-items: flex-start;
       padding: 0px 45px;
    }


    .how-it-works-card-details {
        width: 315px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }

    .card-text {
        text-align: start;
    }

    /* SECTION NFT INFO MOBILE RESPONSIVE CODES END */


    /* SECTION SUBSCRIBE WIDGET RESPONSIVE CODES STAR */
    .section-widget {
        width: 315px;
        flex-direction: column;
        background-color: #2B2B2B;
        padding: 0;
    }

    .img-widget {
        width: 315px;
        height: 255px;
        margin-bottom: 30px;
    }

    .widget-text>h3 {
        width: 315px;
        font-size: 1.875rem;
        margin-bottom: 10px;
    }


    footer {
        margin-top: 60%;
    }


    .footer-input {
        width: 315px;
        margin-bottom: 0;
        height: 46px;
        padding: 16px 20px;
    }

    .footer-input>a {
        display: none;
    }


    .footer-input-email {
        width: 80%;
    }

    .mobile-input-box-btn {
        width: 315px;
        margin-bottom: 30px;
    }





    /*  ************************************* CREATE ACCOUNT  MOBILE RESPONSIVE************************************************************* */
    .section-create-account {
        display: block;
        text-align: center;
    }

    .create-account-item {
        padding: 0px 0px 30px 0px;
    }

    .create-account-item>p {
        margin-bottom: 30px;
    }

    .form-for-login>a {
        padding: 15px 108px;
    }

    .create-acc-image-placeholder {
        width: 375px;
        height: 232px;
    }

    .form-for-login {
        align-items: center;
    }

    .create-account-item {
        padding: 30px 0px 30px 0px;
        height: 515px;
    }


    /* 
    section:not(#top-creators) {
        display: none;
    } */
}